<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259399172482-bbf0s8lqmqo8pncccvrlcnubcqc0ut10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259399172482-bbf0s8lqmqo8pncccvrlcnubcqc0ut10</string>
	<key>API_KEY</key>
	<string>AIzaSyBqJ8NUOXWqrSXqo_Icx_1g3wq6d9A3s20</string>
	<key>GCM_SENDER_ID</key>
	<string>259399172482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dungen</string>
	<key>PROJECT_ID</key>
	<string>dungen-d96b3</string>
	<key>STORAGE_BUCKET</key>
	<string>dungen-d96b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259399172482:ios:cea68056f8973c97c50f9b</string>
</dict>
</plist>